# Editors
*.sublime-project
*.sublime-workspace
*.swp

# Binaries for programs and plugins
/taon
/release/
*.exe
*.dll
*.so
*.dylib
*.tgz
*.zip

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
