name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.25"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
          cache: true
      - name: Run tests
        run: go test -v ./pkg/taon/...
        env:
          COLUMNS: 158
          GOEXPERIMENT: jsonv2
